.nav-sidebar > ul{
    display:none;
}

.dropdown-header {
    background-color: lightgrey;
    width: 100%;
    border : none;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.dropdown-header:hover {
    background-color: darkgray;
}

.dropdown-item {
    list-style: none;
    
}

.clear-button {
    background-color: red;
    color: #ffffff;
    width: 100%;
    border : none;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.clear-button:hover{
    background-color: darkred;
}

.right{
    float: right;
    margin-right:20px;
}

.submit-button {
    background-color: #4CAF50;
    color: #ffffff;
    width: 100%;
    border : none;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.submit-button:hover{
    background-color: darkgreen;
}

.submit-button:disabled{
  cursor: not-allowed;
  opacity: 0.65; 
  background-color: #4CAF50;
  color: #666666;
}